body, body * {
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    width: 500px;
}

table,
td {
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
}

td {
    height: 50px;
    overflow: hidden;
    text-align: center;
}

col {
    width: 50px;
}

.table_row {
    display: flex;
}

.gray {
    background-color: gray;
}