/* The Modal (background) */
.modal_inner_container {
    /* Stay in place */
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Black with opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal_content {
    position: relative;
    background-color: #fefefe;
    /* 15% from the top and centered */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
}

/* The Close Button */
.modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}